flask
flask-cors
flask-sqlalchemy
python-dotenv
langchain
langgraph
langchain-google-genai
langchain-perplexity
assemblyai
requests
langchain-community
langchain-huggingface
langchain-chroma
chromadb
pypdf
sentence-transformers
firecrawl-py
youtube-transcript-api